<tr>
    <td class="ci-td-p-l">{{ comm.subject }}</td>
    <td>on {{ comm.date }}</td>
    <td>{{ comm.notes }}</td>
    <td><a class="cancel comm-control" 
               href=""></a></td>
    {# Comm Edit URL #}
    <td><a class="pen comm-control comm-edit" 
               href="{{ comm.get_update_url }}?account={{ account.id }}">Edit</a></td>
    {# Comm Delete URL #}
    {# Comm Delete URL #}
    
    <td><a class="cancel comm-control"
       href="{{ comm.get_delete_url }}?account={{ account.id }}">Delete</a>
    </td>
</tr>
