{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock title %}

{% block head_top %}
<h2>Magna porta maximus</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae<br />
malesuada turpis. Nam pellentesque in ac aliquam. Aliquam tempor<br />
mi porta egestas maximus lorem ipsum dolor.</p>
{% endblock head_top %}


{% block left_top %}
<p>Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare.</p>
{% endblock left_top%}

{% block right_top %}
<p>Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare.</p>
{% endblock right_top %}

{% block left_bottom %}
<p>Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare.</p>
{% endblock left_bottom %}

{% block right_bottom %}
<p>Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare.</p>
{% endblock right_bottom %}

{% block bottom %}
	<h2>Etiam veroeros lorem</h2>
	<p>Phasellus ac augue ac magna auctor tempus proin<br />
	accumsan lacus a nibh commodo in pellentesque dui<br />
	in hac habitasse platea dictumst.</p>
{% endblock bottom %}